 @model DataDiggersWebApp.Models.LoginModel
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-horizontal" asp-action="Login">
                <div class="form-group">
                    <label class="control-label">User name</label>
                    <input asp-for="userName" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input asp-for="password"  class="form-control" type="password" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn" style=" background-color: #d71e28; color: white; float: right;"/>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
